@import url('https://fonts.googleapis.com/css2?family=Actor&family=El+Messiri:wght@400;500;600;700&display=swap');
body{
  margin: 0;
  background-color: #162831;
  font-family: 'Actor', sans-serif;

}
h1,h2,h3,h4,h5,h6{
  margin: 0;
 
}

*,
*::after,
*::before{
 box-sizing: border-box;
}

.container{
  width: 1300px;
  margin: 0 auto;
}
